---
title: Simultaneous Maze Solving
short_description: Solving mazes with the same solving sequences
custom_css: style.css
---
<div style="max-width: 1100px; margin: auto auto; padding: 20px; border-radius: 15px; background-color:#ffffff;">
	<h1>Simultaneous Maze Solving is NP-Hard!</h1>

	<hr>

	<h2>What is this all about?</h2>
	The Simultaneous Maze Solving Problem is explained <a href="/i/simultaneous-maze-solving/">here</a>. On this site, we present an implementation of the NP-hardness reduction from CNF-SAT to the Simultaneous Maze Solving Problem which was given in the paper <a href="https://aaai.org/ocs/index.php/AAAI/AAAI17/paper/view/14617"><i>The Simultaneous Maze Solving Problem</i></a>.

	<h2>Rules</h2>

	You are given a set of mazes where you can walk on the white fields but cannot enter the gray fields and you can move up, down, left, and right. The move is executed in all mazes at the same time. If you stand next to a blocked (i.e., gray) field and you move in this direction then you stay in the same field in this maze.

	<h2>Try for yourself</h2>

	<p>Enter a <a href="https://en.wikipedia.org/wiki/Boolean_satisfiability_problem">SAT formula</a> in <a href="https://en.wikipedia.org/wiki/Conjunctive_normal_form">conjunctive normal form</a> and press generate to generate the resulting mazes of the reduction. You can then make moves using the arrow keys of your keyboard. As we reduce to the decision problem, there is a number of goal moves. The SAT formula is satisfable if and only if this set of mazes is solvable in the required number of moves.</p>

	<input type="text" id="formula" size="50" value="(x1 || x2 || !x3) && (!x2 || x4) && (x1 || !x4 ) && (x2 || x3)" >
	<button type="button" id="generate">Generate</button>

	Moves: <span id="moves">0</span>
	Goal: <span id="goal">0</span>
	<div id="canvases" class="play_area"></div>

	<script>
		CELL_SIZE=20

class Maze
{
	init(n, canvas)
	{
		this.width=5*(n-1)+4;
		this.height=5;
		this.pos_x = this.pos_y = 1;
		this.goal_x = this.width-2;
		this.goal_y = this.height-2;

		this.canvas=canvas;
		this.canvas.width=this.width * CELL_SIZE;
		this.canvas.height=this.height * CELL_SIZE;

		this.maze=[];
		for(var y=0; y<this.height; y++)
		{
			this.maze[y]=[]
			for(var x=0; x<this.width; x++)
				this.maze[y][x]= (x==0 || x==this.width-1 || y==0 || y==this.height-1);
		}
	}

	init_variables(n, canvas)
	{
		this.init(n, canvas);

		for(var i=0; i<n-1; i++)
			this.maze[1][5*i+3] = this.maze[2][5*i+3] = this.maze[2][5*i+5] = this.maze[3][5*i+5] = true;

		return this;
	}

	init_clause(n, canvas, asserted, negated)
	{
		this.init(n,canvas);

		for(var i=0; i<n; i++)
		{
			this.maze[2][1+5*i] = !asserted.includes(i);
			this.maze[2][2+5*i] = !negated.includes(i);
			this.maze[2][3+5*i] = this.maze[2][4+5*i] = this.maze[2][5+5*i] = true;
		}

		return this;
	}

	draw()
	{
		var ctx = this.canvas.getContext('2d');
		ctx.clearRect(0, 0, this.width*CELL_SIZE, this.height*CELL_SIZE);

		ctx.fillStyle = '#66FF66';
		ctx.fillRect(CELL_SIZE*(this.width-2), CELL_SIZE*(this.height-2), CELL_SIZE, CELL_SIZE);

		ctx.fillStyle = '#FF3333';
		ctx.fillRect(CELL_SIZE*this.pos_x, CELL_SIZE*this.pos_y, CELL_SIZE, CELL_SIZE);

		ctx.fillStyle = '#666666';
		for(var y=0; y<this.height; y++)
			for(var x=0; x<this.width; x++)
				if(this.maze[y][x])
					ctx.fillRect(CELL_SIZE*x, CELL_SIZE*y, CELL_SIZE, CELL_SIZE);
	}

	move(dx, dy)
	{
		if(this.pos_x+dx<0 || this.pos_x+dx>=this.width || this.pos_y+dy<0 || this.pos_y+dy>this.height)
			return false;

		if(this.maze[this.pos_y+dy][this.pos_x+dx])
			return false;

		this.pos_y+=dy;
		this.pos_x+=dx;

		return true;
	}

	on_goal()
	{
		return (this.pos_x==this.goal_x && this.pos_y == this.goal_y);
	}
}

function keyDown(e)
{
	var dx=0;
	var dy=0;
	switch (e.keyCode)
	{
		case 37: dx=-1; break; //left
		case 38: dy=-1; break; //up
		case 39: dx=1;  break; //right
		case 40: dy=1;  break; //down
		default:        return;
	}

	var moved=false;
	for (var i = 0; i<mazes.length; i++)
	{
		if(mazes[i].move(dx, dy))
		{
			moved = true; 
			mazes[i].draw();
		}
	}

	if(moved)
	{
		document.getElementById('moves').textContent = ++moves;

		if(moves==target_moves)
		{
			if(mazes.every(m => m.on_goal()))
				alert("You won!");
			else
				alert("You lost!");
		}
	}

	event.preventDefault();
}


function parse_formula(formula)
{
	formula = formula.replace(/[\s\(\)]+/g, '')
	formula = formula.replace(/[∨\|]+/g, '|')
	formula = formula.replace(/[∧\&]+/g, '&')

	var clauses = formula.split('&');

	var parsed_formula = []

	var var_mapping = []
	var name_mapping = [] 
	var numvars=0
	for(var i=0; i<clauses.length;i++)
	{
		var vars=clauses[i].split('|')

		var asserted_literals=[];
		var negated_literals=[];
		for(var j=0; j < vars.length; j++)
		{
			if(!/^!?[A-Za-z]\w*$/.test(vars[j]))
				return null;

			var negated = false;
			if(vars[j][0]==="!")
			{
				negated = true;
				vars[j]=vars[j].substr(1);
			}

			var v=vars[j]
			if( !(v in var_mapping) )
			{
				var_mapping[v]=numvars;
				name_mapping[numvars]=v;
				numvars++;
			}

			if(negated)
			{
				if( !negated_literals.includes(var_mapping[v]) )
					negated_literals.push(var_mapping[v]);
			}
			else
			{
				if( !asserted_literals.includes(var_mapping[v]) )
					asserted_literals.push(var_mapping[v]);
			}
		}

		if(asserted_literals.length + negated_literals.length == 0)
			continue;

		parsed_formula.push( {asserted: asserted_literals, negated: negated_literals } )
	}


	if(parsed_formula.length>0)
		return {formula: parsed_formula, num_vars: numvars, var_names: name_mapping}

	return null
}

function new_maze_canvas(canvases, label)
{
	var d = document.createElement('div');
	var l = document.createElement('p');
	var c = document.createElement('canvas');
	l.textContent=label;
	d.appendChild(l);
	d.appendChild(c);
	canvases.appendChild(d)

	return c;
}

function generate()
{
	var f = parse_formula(document.getElementById('formula').value);
	if(f == null)
	{
		alert('There was a problem while parsing your formula');
		return;
	}

	mazes = [] 
	canvases = document.getElementById('canvases');
	while(canvases.firstChild)
		canvases.removeChild(canvases.firstChild) 

	c = new_maze_canvas(canvases, "Variable setting maze");
	mazes.push(new Maze().init_variables(f.num_vars, c));

	for(var i=0; i<f.formula.length; i++)
					   {
					   c = new_maze_canvas(canvases, "Clause " + (i+1).toString() + " maze");
					   mazes.push(new Maze().init_clause(f.num_vars, c, f.formula[i].asserted, f.formula[i].negated));
					   }

					   mazes.forEach(m => m.draw());
	moves = 0;
	target_moves = 3*f.num_vars + 6*(f.num_vars-1)
	document.getElementById('moves').textContent = '0';
	document.getElementById('goal').textContent = target_moves.toString();
}

document.addEventListener('keydown', keyDown, true);
document.getElementById('generate').addEventListener('click', generate);

generate();
</script>

<h2>About the authors</h2>

The authors of the paper where the reduction was presented are <a href="https://www.fmi.uni-stuttgart.de/alg/team/funke/">Stefan Funke</a>, <a href="https://people.mpi-inf.mpg.de/~anusser/">André Nusser</a>, and <a href="https://www.algo.uni-konstanz.de/team/storandt/">Sabine Storandt</a>.

</div>
