<!DOCTYPE html>
<html>
  <head>
    {% include style.html %}
    {% include title.html %}
    {% include analytics.html %}
    {% include favicon.html %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/font.css">
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>

